### 1. Find the top 10 customers by total spending

In [ ]:
SELECT TOP 10
    c.CustomerName,
    SUM(il.Quantity * il.UnitPrice) AS TotalSpent
FROM
    Sales.Customers AS c
JOIN
    Sales.Invoices AS i ON c.CustomerID = i.CustomerID
JOIN
    Sales.InvoiceLines AS il ON i.InvoiceID = il.InvoiceID
GROUP BY
    c.CustomerName
ORDER BY
    TotalSpent DESC;

### 2. Find the top 10 products by total revenue

In [ ]:
SELECT TOP 10
    si.StockItemName,
    SUM(il.Quantity * il.UnitPrice) AS TotalRevenue
FROM
    Warehouse.StockItems AS si
JOIN
    Sales.InvoiceLines AS il ON si.StockItemID = il.StockItemID
GROUP BY
    si.StockItemName
ORDER BY
    TotalRevenue DESC;

### 3. Find the top 5 states by sales revenue

In [ ]:
SELECT TOP 5
    sp.StateProvinceName,
    '$' + CONVERT(varchar, SUM(il.Quantity * il.UnitPrice), 1) AS TotalSalesRevenue
FROM
    Application.StateProvinces AS sp
JOIN
    Application.Cities AS city ON sp.StateProvinceID = city.StateProvinceID
JOIN
    Sales.Customers AS c ON city.CityID = c.DeliveryCityID
JOIN
    Sales.Invoices AS i ON c.CustomerID = i.CustomerID
JOIN
    Sales.InvoiceLines AS il ON i.InvoiceID = il.InvoiceID
GROUP BY
    sp.StateProvinceName
ORDER BY
    SUM(il.Quantity * il.UnitPrice) DESC;

### 4. Rank salespeople by total revenue generated

In [ ]:
SELECT
    p.FullName AS Salesperson,
    '$' + CONVERT(varchar, SUM(il.Quantity * il.UnitPrice), 1) AS TotalRevenueGenerated
FROM
    Application.People AS p
JOIN
    Sales.Invoices AS i ON p.PersonID = i.SalespersonPersonID
JOIN
    Sales.InvoiceLines AS il ON i.InvoiceID = il.InvoiceID
GROUP BY
    p.FullName
ORDER BY
    SUM(il.Quantity * il.UnitPrice) DESC;

### 5. Find products that are below their reorder level

In [ ]:
SELECT
    si.StockItemName,
    s.SupplierName,
    sih.QuantityOnHand,
    sih.ReorderLevel
FROM
    Warehouse.StockItemHoldings AS sih
JOIN
    Warehouse.StockItems AS si ON sih.StockItemID = si.StockItemID
JOIN
    Purchasing.Suppliers AS s ON si.SupplierID = s.SupplierID
WHERE
    sih.QuantityOnHand < sih.ReorderLevel
ORDER BY
    si.StockItemName;

### 6. Find products that have never been sold

In [ ]:
SELECT
    si.StockItemName,
    sih.QuantityOnHand
FROM
    Warehouse.StockItems AS si
JOIN
    Warehouse.StockItemHoldings as sih ON si.StockItemID = sih.StockItemID
LEFT JOIN
    Sales.InvoiceLines AS il ON si.StockItemID = il.StockItemID
WHERE
    il.InvoiceLineID IS NULL
ORDER BY
    si.StockItemName;

### 7. Find the most valuable customer categories by revenue

In [ ]:
SELECT
    cc.CustomerCategoryName,
    '$' + CONVERT(varchar, SUM(il.Quantity * il.UnitPrice), 1) as TotalRevenue
FROM
    Sales.CustomerCategories AS cc
JOIN
    Sales.Customers AS c ON cc.CustomerCategoryID = c.CustomerCategoryID
JOIN
    Sales.Invoices AS i ON c.CustomerID = i.CustomerID
JOIN
    Sales.InvoiceLines AS il ON i.InvoiceID = il.InvoiceID
GROUP BY
    cc.CustomerCategoryName
ORDER BY
    SUM(il.Quantity * il.UnitPrice) DESC;

### 8. Find orders that were delivered late

In [ ]:
SELECT
    o.OrderID,
    c.CustomerName,
    o.ExpectedDeliveryDate,
    CAST(i.ConfirmedDeliveryTime AS DATE) AS ActualDeliveryDate
FROM
    Sales.Orders AS o
JOIN
    Sales.Invoices AS i ON o.OrderID = i.OrderID
JOIN
    Sales.Customers AS c ON o.CustomerID = c.CustomerID
WHERE
    CAST(i.ConfirmedDeliveryTime AS DATE) > o.ExpectedDeliveryDate
ORDER BY
    o.ExpectedDeliveryDate;

### 9. Find the top 5 suppliers by product variety

In [ ]:
SELECT TOP 5
    s.SupplierName,
    COUNT(si.StockItemID) AS NumberOfProductsSupplied
FROM
    Purchasing.Suppliers AS s
JOIN
    Warehouse.StockItems AS si ON s.SupplierID = si.SupplierID
GROUP BY
    s.SupplierName
ORDER BY
    NumberOfProductsSupplied DESC;

### 10. Analyze total sales volume by product package type

In [ ]:
SELECT
    pt.PackageTypeName,
    SUM(il.Quantity) AS TotalQuantitySold
FROM
    Sales.InvoiceLines AS il
JOIN
    Warehouse.StockItems AS si ON il.StockItemID = si.StockItemID
JOIN
    Warehouse.PackageTypes AS pt ON si.UnitPackageID = pt.PackageTypeID
GROUP BY
    pt.PackageTypeName
ORDER BY
    TotalQuantitySold DESC;